/* Your Website Styles */
h1{
color: #53C6AB;
font-family: 'Shadows Into Light', cursive;
font-size: 4em;
margin: 0	0	0	10px;

}

body{
	background: url("../img/pw.png");
 }

 h2{
 	color: #53C6AB;
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	margin: 0	0	0	10px;
 }

 h3	{
 	color: #53C6AB;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	margin: 0	0	0	10px;
 }

li {
  list-style: none;
  float: left;
  
}