/* Your Website Styles */
h1{
	color: #FF5B42;
	font-family: 'Lobster', cursive;
}

body{
	background: url(../img/pw.png);
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}