/* Your Website Styles */
h1{
color: #3F8D89;
font-family: 'Lobster', cursive;
background: red;
width: 300px;
padding: 10px;
border: 10px solid black;ive;
}

body{
	background: url("../img/pw.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}